doctype html
html
  head
    // Standard Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // Site Properities
    title 社社相关
    link(href='http://fonts.useso.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/semantic.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/homepage.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/topbar.css')
    script(src='/javascripts/jquery-1.11.2.js')
    script(src='/javascripts/semantic.js')
    script(src='/javascripts/homepage.js')
    
  body#home
    .following.bar.light.fixed
      .insideTopBar
        .column
          .ui.logo.shape
            .sides
              .ui.side.active
                img.ui.image(src='')
          if user
            #topButton(calss='ui right float')
              #second.ui.left.floated
                .inverted.secondary.pointing.ui.menu
                  a.item(href='#')  #{user.userName}

              .ui.right.floated.secondary.menu
                .inverted.secondary.pointing.ui.menu
                  a.item.success(href='/logout') 登出

          else
            #topButton(calss='ui right float')
              #second.ui.left.floated.secondary.menu
                .inverted.secondary.pointing.ui.menu
                  a.item(href='/signup') 注册
              .ui.right.floated.secondary.menu
                .inverted.secondary.pointing.ui.menu
                  a.item(href='/login') 登录
          .bar.ui.large.secondary.network.menu.center
            a#fontLogo.center
              img(src='/images/fontlogo.png', alt='社社相关', height='42', width='120')
    .mainpage
      .bar.mainpage
        .insideMainpageBar
          .ui.two.column.center.aligned.stackable.divided.grid
            .column
              button.ui.button(onclick="window.location='/'") 活动
            .column
              button.ui.button(onclick="window.location='/club'") 社团
      .activityList
        .artList.ui.link.cards
          each item in content_list
            .ui.card
              .image
                img(src="#{item['logo']}")
              .content
                a.header(href="/activity/#{item['_id']}") #{item['name']}
                .meta
                  span.date #{item['time']}
              .extra.content
                a
                  i.thumbs.up.icon
                  span 点赞 
                  span 10
      #sum.page
        | Showing 
        b 6
        |  of 213
      .ui.pagination.menu
        a.icon.item
          i.angle.left.icon
        a.active.item 1
        .disabled.item ...
        a.item 10
        a.item 11
        a.item 12
        a.icon.item
          i.angle.right.icon
    .ui.inverted.teal.page.grid.segment
      .ten.wide.column
        .ui.four.column.stackable.grid
          .column
            .ui.header 项目参与者
          .column
            .ui.header
            .ui.inverted.link.list
              a.item 张辉煌
              a.item 张琪
              a.item 杨焕填
          .column
            .ui.header
            .ui.inverted.link.list
              a.item 李健华
              a.item 王超
              a.item 廖卢神
          .column
            .ui.header
            .ui.inverted.link.list
              a.item 李俊杰
              a.item 苏逸民
              a.item 何文彬